.footer {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 

    &-company {

      &-name {
        font-size: 2.1rem;
        font-weight: 800;
        color: var(--color-primary-darker);
        padding-right: 3rem;
      }

      &-copy {
        font-size: 1.3rem;
        color: var(--color-grey-dark-4);
      }
    }
  }

  &-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & a {
      font-size: 1.3rem;
      text-decoration: none;
      color: var(--color-link);

      &:hover{
        color: var(--color-link-dark);
      }
    }

    &-one {
      margin-right: 3rem;
    }

    &-two {

    }
  }
}