.section {
  &-category-header {
    height: 10rem;
    background-image: linear-gradient(to right bottom,var(--color-primary-dark), var(--color-primary-darker));
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    @include respond(phone) {
      height: 8rem;
    }

    &-title {
      color: var(--color-white);
      font-size: 2.3rem;
      font-weight: 300;
      @include respond(phone) {
        font-size: 2.1rem;
      }
    }
  }

  &-category-cardSection {
    margin-top: 5rem; 
  }

  &-category-card {
    
  }
}