/////////////////////////////////////////////
// website-name

.website-name{
  text-decoration: none;
  margin: 0 2rem;
  font-size: 3rem;
  font-weight: 900;
}

.search-icon {
  height: 2.25rem;
  width: 2.25rem;
}
