<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
        
        <title>Creative-mart &mdash; A place for collaborations with creatives</title>
    </head>
    <body>


        <!--- This is for the header content -
        ------------------------------------->
        <header class="header">

            <div class="header-main" id="header-main">
                <div class="header-main__left">

                    <div class="header-main__left-menu_name">
                        <div class="header-main__left-menu" id="expanding-navbar-icon">
                            <svg class="header-main__left-menu-icon">
                                <use xlink:href="../img/sprite.svg#icon-menu"></use>
                            </svg>
                        </div>
                        <a href="index.html" class="">
                            <h5 class="company-name">Cre8ive-mart</h5>
                        </a>
                    </div>
                    
                    <div class="header-main__left-initials">
                        <a href="index.html" class="">
                            <h4 class="company-name">Cre8ive-mart</h4>
                        </a>
                    </div>
                    <ul class="header-main__left-dropdown">
                        <li class="header-main__left-categories">Categories
                            <ul>
                                <li><a href="category.html">Videographer</a></li>
                                <li><a href="category.html">Photographer</a></li>
                                <li><a href="category.html">Makeup artist</a></li>
                                <li><a href="category.html">Stylist</a></li>
                                <li><a href="category.html">Actor</a></li>
                                <li><a href="category.html">Set designer</a></li>
                                <li><a href="category.html">Location manager</a></li>
                                <li><a href="category.html">Sound engineer</a></li>
                                <li><a href="category.html">Script writer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="header-main__left-search" id="search-trigger">
                        <svg class="header-main__left-search-icon">
                            <use xlink:href="../img/sprite.svg#icon-magnifying-glass"></use>
                        </svg>
                    </div>
                </div>
            
                <div class="header-main__right">
                    <a href="#" class="header-main__right-bac">Become a creative</a>
                    <a href="#" class="header-main__right-login" id="account-trigger">Log In/ Sign up</a>
                    <ul>
                        <li href="" class="header-main__right-photo">
                            <img src="../img/opeyemi.jpg" class="user-photo">
                            <ul>
                                <li><a href="">Profile</a></li>
                                <li><a href="">Manage creative</a></li>
                                <li><a href="">Learn more</a></li>
                                <hr/>
                                <li><a href="">Log out</a></li>
                            </ul>
                        </li>
                    </ul> 
                </div>
            </div>

            
            <form class="header-search" id="header-search">
                <div class="header-search-mag-icon">
                    <svg class="header-search-icon">
                        <use xlink:href="../img/sprite.svg#icon-magnifying-glass"></use>
                    </svg>
                </div>
                <input id="searchBox" class="header-search-box" type="text" placeholder="Find interesting Skills and Projects..."
                    autocomplete="off" />
                <div class="header-search-cancel-icon" id="search-cancel">
                    <svg class="header-search-icon">
                        <use xlink:href="../img/sprite.svg#icon-cross"></use>
                    </svg>
                </div>
            </form>
        </header>
        <!--- Ending of the header content -
        ----------------------------------->




        <!--- This is for the nav content -
        ---------------------------------->
        <div class="navbar__overlay" id="navbar__overlay">
        </div>

        <nav class="navbar">
            <div class="navbar-header">
                <div class="navbar-header__close" id="navbar__close">
                    <svg class="navbar-header__close-icon">
                        <use xlink:href="../img/sprite.svg#icon-cross"></use>
                    </svg>
                </div>
                <h4 class="navbar-header-website__name"><a href="index.html" >Cre8ive-mart</a></h4>
            </div>
            <div class="navbar-hr">
                <hr>
            </div>
            <ul class="navbar-items" id="navbar__one">
                <li class="navbar-items-category"><a href="#" class="navbar-items-list" id="nav-categories-trigger"> Categories 
                    <div class="navbar-items-list-right">
                        <svg class="navbar-items-list-right-icon">
                            <use xlink:href="../img/sprite.svg#icon-chevron-thin-right"></use>
                        </svg>
                    </div>
                </a></li>
        
                <!-- when logged in -->
                <div class="">
                    <li class=""><a href="profile.html" class="navbar-items-list">Profile</a></li>
                    <li class=""><a href="myProject.html" class="navbar-items-list">Manage creative</a></li>
                    <li class=""><a href="interests.html" class="navbar-items-list">Logout</a></li>
                </div>
                <hr>

                <!-- when not logged in -->

                <div class="">
                    <li class=""><a href="profile.html" class="navbar-items-list">Become a creative</a></li>
                    <li class=""><a href="#" class="navbar-items-list" id="account-nav-trigger">Sign up/ Log in</a></li>
                </div>
                <hr>
        
                <li class=""><a href="about.html" class="navbar-items-list">Learn more</a></li>
                <li class=""><a href="myProject.html" class="navbar-items-list">Guidelines</a></li>
            </ul>
        


            <ul class="navbar-items" id="navbar__two">
                <li class="navbar-items-categories" id="nav-menu-trigger"><a href="#" class="navbar-items-list">  
                    <div class="navbar-items-list-left">
                        <svg class="navbar-items-list-left-icon">
                            <use xlink:href="../img/sprite.svg#icon-chevron-thin-left"></use>
                        </svg>
                    </div>
                Back </a></li>
                <hr>




                <div class="">
                    <li class=""><a href="category.html" class="navbar-items-list">Videographers</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Photographer</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Makeup artist</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Stylists</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Actors</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Set designers</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Location manager</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Sound engineers</a></li>
                    <li class=""><a href="category.html" class="navbar-items-list">Script writers</a></li>
                </div>
            </ul>
        </nav>
        <!----- Ending of the nav content -
        ---------------------------------->






        <!--- This is for the account content
        ------------------------------------>
        <div class="account">
            <div class="account-content">
                <div class="account-content-header">
                    <span class="account-content-header-close" id="account-content-header-close"><a>⛌</a></span>
                </div>

                <div class="account-content-title">
                    <h1>Join the network of creatives</h1>
                </div>

                <div class="account-content-email__form">
                    <div class="pro__form__field">
                        <input type="email" class="ex-inputfield--large ext__inp" id="projectTitle" name="projectTitle" placeholder="Enter your email address"/>

                        <button class="button-default" id="account-trigger"><i class="fa fa-facebook mr-3"></i>Sign Up/ Sign In</button>
                    </div>
                </div>

                <div class="account-content-title">
                    <h2>Or:</h2>
                </div>

                <div class="account__body">
                    <button class="button-facebook"><i class="fa fa-facebook mr-3"></i>Sign In with Facebook</button>
                    <button class="button-google">Sign In with Google</button>
                </div>
            </div>
        </div>
        <!----- Ending of the account content
        ------------------------------------>







        <!-- This is for the section content
        ----------------------------------->
        <section class="section">
            <div class="section-jumbotron">
                <h1 class="section-jumbotron-header">Find Creatives</h1>
                <p class="section-jumbotron-text">Collaborate and create great and wonderful things with other creatives</p>
            </div>




            <div class="section-features">
                <div class="section-features-one">
                    <div class="section-features-one-image"></div>
                    <div class="section-features-one-content">
                        <div class="features-text">
                            <h1 class="features-text-header">Easily find quality creators</h1>
                            <p class="features-text-description">On Cre8ive-mart you can find a range of top quality creators, from actors to dancers, videographers, scriptwriters, stylists,set designers and more</p>
                        </div>
                    </div>
                </div>

                <div class="section-features-two">
                    <div class="section-features-two-image"></div>
                    <div class="section-features-two-content">
                        <div class="features-text">
                            <h1 class="features-text-header">Collaborate on projects</h1>
                            <p class="features-text-description">You can find the best creators to collaborate on that big project you have</p>
                        </div>
                    </div>
                </div>

                <div class="section-features-three">
                    <div class="section-features-three-image"></div>
                    <div class="section-features-three-content">
                        <div class="features-text">
                            <h1 class="features-text-header">Showcase your work</h1>
                            <p class="features-text-description">You can easily showcse your work and get found by other creators for collaborations</p>
                        </div>
                    </div>
                </div>
                
            </div>




            <div class="section-persuade">
                <h1 class="section-persuade-header">Ready to become a cre8ive?</h1>
                <a href="#"class="section-persuade-button">Get Started</a>
            </div>
        </section>
        <!---- Ending of the section content
        ----------------------------------->



        <!--- This is for the footer content
        ----------------------------------->
        <footer class="footer">
            <div class="footer-content__one">
                <p>To Learn about becoming a creative <a href="#" class="">Click here</a> </p>
            </div>

            <div class="footer-horizontal-line"> 
                <hr/>
            </div>

            <div class="footer-content__two">
                <p> <a href="#" class=""> Contact us </a>
                <p> <a href="#" class=""> Terms &amp; Condition </a>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2018 Cre8ive-mart</p>
            </div>

        </footer>
        <!----- Ending of the footer content
        ----------------------------------->
        
    </body>
</html>